

body {
    background-color: #f1fcff;
    margin-top: 175px;
}

header.header {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #e6eeed;
    width: 100%;
    height: 160px;
    display: inline-flex;
}
.logo img {
    max-height: 160px;
}
nav{
    margin-left: 50%;
    margin-top: 5%;
}
.nav a{
    padding-left: 30px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    transition: 200ms;
}.nav a:hover{
    color: rgb(101, 27, 170);
    transition: 200ms;
}

#entrar {
    float: right;
    margin-right: 1%;
    margin-top: 4%;
    margin-left: 6%;
    height: 30%;
    width: 6%;
    background-color: black;
    border-radius: 12px;
    border: none;
    color: #eafbff;
    font-weight: 700;
}
#entrar:hover{
    color: #e6eeed;
    background-color: #1e93f3;
    transition: 0.30s;
    filter: drop-shadow(1px 1px 2px rgb(192, 192, 192))
            drop-shadow(-1px -1px 2px rgb(192, 192, 192));}

div.spacer {
    width: 20px;
    height: 30px;
}
div.spacer.G {
    height: 60px;
}
div.spacer.L {
    height: 120px;
}




div.page {
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Index css */
.carousel {
    width: 50%;
    height: 400px;
    margin-bottom: 8%;
}

table, th, td {
    border: 1px solid;
}
.planos {
    width: 50%;
    height: 300px;
    margin-bottom: 5%;
}
.planos * {
    overflow: hidden;
}
table {
    font-family: arial;
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}
.planos #prim{
    width: 20px;
}
tr#prim th {
    background-color: #e6eeed;
}
th {
    background-color: #dbe6e4;
}
td {
    background-color: #dbe6e4;
}

.textoprop {
    font-size: 18px;
} 

/* Sobre css */
section.Titulo {
    width: 50%;
    text-align: center;
}

section.Show {
    color: black;
    background-color: #e6eeed;
    display: flex;
    width: 50%;
    height: 300px;
    justify-content: space-between;
    filter: drop-shadow(1px 1px 10px rgb(192, 192, 192))
            drop-shadow(-1px -1px 10px rgb(192, 192, 192));
    transition: 200ms;
    margin-bottom: 2%;
    border: none;
    border-radius: 5px;
}

section.Show.anim:hover {
    width: 60%;
    transition: 200ms;
}

section.Show div.desc {
    height: 100%;
    margin: 20px;
    width: 40%;
    overflow: hidden;
    font-size: 28px;
}
section.Show div.desc button {
    background-color: #095797;
    border-radius: 15px;
    width: 100%;
    height: 30%;
    color: #e6eeed;
    font-size: 23px;
    font-weight: 700;
    border: none;
}
section.Show div.imagem {
    height: 100%;
    overflow: hidden;
    width: 50%;
    border: none;
    border-radius: 3px;
}
div.imagem img {
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 50px;
}

section.Show div.imagem.mb {
    display: none;
}
@media only screen and (max-width: 1000px) {
    
    section.Show {
        color: black;
        background-color: #e6eeed;
        display: flex;
        flex-flow: column;
        width: 50%;
        height: 600px;
        justify-content:flex-end;
    }
    section.Show div.desc {
        height: 40%;
        margin: 20px;
        width: 90%;
        overflow: hidden;
    }
    section.Show div.imagem {
        height: 100%;
        overflow: hidden;
        background-color: rgb(255, 0, 0);
        width: 100%;
    }
    section.Show div.imagem.mb {
        display: block;
    }section.Show div.imagem.pc {
        display: none;
    }

}
/*rodapé*/ 
footer {
    background-color:  #e6eeed; 
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear:left;
}

#rodapeimg {
    width: 30%; 
    height: 30%;
    margin-left: 16%;
}

#redes {
    float: right;
    list-style: none;
    display: flex;
    gap: 10px; 
    padding-top: 5%;
    margin-right: -165%;
}
#redes li {
    display: inline;
}

#redes img {
    width: 35px; 
    height: auto; 
    transition: transform 0.3s; 
}

#redes img:hover {
    transform:scale(1.1);
}
/*cabo*/
