body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: #f1fcff;
}

.container {
    background-color: #e6eeed;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.form-container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="checkbox"]{
    text-align: left; 
    margin-bottom: 8px; /* LEMBRAR DE TESTAR EM UM MONITOR 1920X1080p */
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #4da0d8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #377ba8;
}

a {
    color: #4e9bcf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav{
    width: 500px;
}

#toggle-tema {
    margin-left: 7%;
    height: 25%;
    width: 170px;
    background-color: black;
    border-radius: 12px;
    border: none;
    color: #eafbff;
    font-weight: 700;
}

#voltar{
    margin-top: -4px;
    margin-left: 0%;
    height: 25%;
    width: 170px;
    border: none;
    background-color: #e6eeed;
    font-weight: 700;
}

#voltar img{
    width: 20%;
}

:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --background-color-dark: #333333;
    --text-color-dark: #ffffff;
    --imagem-light: url('IMG/V\ sem\ fundo.png') ;
    --imagem-dark: url('IMG/facebook.png'); 
    --background-header-dark: #747474;
    --background-header-light: #e6eeed;
}

body {
    background-color: var(--background-color-light);
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-tema {
    background-color: var(--background-color-dark);
    color: black;
}

footer {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

footer.dark-tema {
    background-color: var(--background-header-dark);
    color: var(--text-color-dark);
}
header {
    background-color: var(--background-header-light);
    color: var(--text-color-light);
}
header.dark-tema {
    background-color: var(--background-header-dark);
    color: var(--text-color-dark);
}