body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: #f1fcff;
}

.container {
    background-color: #e6eeed;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.form-container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4da0d8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #377ba8;
}

a {
    color: #4e9bcf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}